# Development Environment
rm_env/
__pycache__/
.vscode/
dev_scripts/
tests/
.pytest_cache/

# local configuration filess
.env

# Runtime Artifacts
.cache/
~$*

# Private Documentation
INTERNAL_DOCS*

# GitHub Workflows
.github

# Processors
processors/
!processors/excel_processor.py
!processors/pdf_processor.py

# Data Directories
archive/
requirement_documents/*
output/*.csv

# Sample Files (keep these)
!requirement_documents/sample_requirements_specification.pdf
!requirement_documents/sample_requirements.csv
!requirement_documents/sample_requirements.xlsx
!requirement_documents/sample_requirements_alt_columns.csv
!requirement_documents/sample_requirements_alt_columns.xlsx
!output/sample*

# Legacy Files
requirement_template_gen1*

# Debug files
*debug*